
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* Definindo ess para o cabeçalho */
header {
    background-color: #8b0000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    font-family: 'Poppins', sans-serif;
  }
  
body{
  overflow-x: hidden;
}

  li {
    list-style-type: none;
  }

  .logo h1 {
    margin: 08px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo h1:hover
  {
    transition: all;
    color: #b91e1e;
  }

  .logo img:hover
  {
    transition: all;
    color: #8b0000;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 25px;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;
  }
  
  nav ul li:hover{
    background-color: #b91e1e;
    transition: all 0.5s;
    border-radius: 50%;
  }

  /* Definindo estilos para a seção principal */
  main {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  main h2 {
    font-size: 90px;
    margin-bottom: 200px;
    text-shadow: 03px 0px rgb(0, 0, 0);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-shadow: #ff0000;
  }
  
  main p {
    font-size: 22px;
    margin-bottom: 150px;
    max-width: 800px;
    position: relative;
    top: -15%;
    text-shadow: 01px 0px rgb(12, 11, 11);
    color: ivory;
    font-family: 'Poppins', sans-serif;
  }
  
  .button {
    display: inline-block;
    background-color: #8b0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #b30000;
  }
  
  /* Definindo estilos para a seção de quem somos */
  #quem-somos {
    background-color: #8b0000;
    padding: 200px;
    text-align: left;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    font-family: 'Poppins', sans-serif;
  }
  
#home { background-image: url(img/home3.jpg);
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  font-family: 'Poppins', sans-serif;
}

#home h2:hover
  {
    transition: all;
    color: #8b0000;
  }


  #quem-somos h2 {
    font-size: 75px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #ffffff;
    box-shadow: #333;
    text-shadow: 03px 0px rgb(0, 0, 0);}
  

  #quem-somos p {
    font-size: 19px;
    line-height: 1.5;
    max-width: 600px;
    text-align: left;
    font-family: 'Poppins', sans-serif ;
    color: #ffffff;
  }
  #quem-somos img{
    background-image: url(img/GADO.jpg);
    position: relative;
    margin-top: -2000px;
    top: -30px;
    right: -10px;
    align-items: end;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    border-radius: 50%;
    border: solid 7px;
    border-color: #ffffff;
    transition: all 0.4s;
  }

  #quem-somos img:hover{
    border-color: #000000;}
 
  /*Definindo estilos para a seção de produtos */
 #produtos {
    padding: 80px;
    text-align: left;
    justify-content: space-between;
    padding: 0px 20px;
    font-family: 'Poppins', sans-serif;
    }
    #produtos3{
      padding: 80px;
      text-align: right;
      justify-content: space-between;
      margin-top: -2964px;
      padding: 0px;
    }

    #produtos img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      padding: 5px;
      border: solid 10px;
      border-color: #8b0000;
      transition: all 0.4s;
    }

    #produtos img:hover{
      border-color: #8b0000;
      opacity: 0.6;color: rgba(168, 148, 148, 0.658);
    }

    #produtos h2 {
    font-size: 80px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    box-shadow: rgb(170, 3, 3);
    text-shadow: 03px 0px rgb(170, 3, 3);
  }
    
    .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    
    #produtos h3 {
      font-size: 35px;
      color: #000000;
    box-shadow: rgb(0, 0, 0);
color: #000000;
    box-shadow: rgb(170, 3, 3);
    text-shadow: 03px 0px rgb(170, 3, 3);      
      }

      #produtos h3:hover{
        transition: all;
        box-shadow: rgb(80, 8, 8);
        text-shadow: 02px 0px rgb(0, 0, 0);      }

    .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 300px;
    overflow: hidden;
    font-family: initial;
    }
    
    .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
    
    .card h3 {
    font-size: 24px;
    margin: 20px;
    }
    
    .card p {
    font-size: 16px;
    margin: 20px;
    line-height: 1.5;
    }
    
    /* Defining styles for the contact section */
    #contato {
    background-color: #8b0000;
    color: rgb(255, 255, 255);
    padding: 80px;
    text-align: center;}
    
    #contato h2 {
    font-size: 35px;
    margin-bottom: 40px;
    color: white;
    box-shadow: rgb(255, 255, 255);}
    
    form {
    max-width: 600px;
    margin: auto;}
    
    form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;}
    
    form input,
    form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    }
    
    form input:focus,
    form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);}
    
    form button {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    }
    
    form button:hover {
    background-color: #ffffff;}
    
    /* Defining styles for the footer */
    .rodapé {
    background-color: #8b0000;
    color: #fff;
    text-align: center;
    padding: 20px;
    }
    
    .rodapé p {
    margin: 0;}
    
     form button {
      background-color: rgb(255, 255, 255);
    color: #8b0000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
    }

    form .button1:hover{
      background-color: #ffffff}

      /*-----------------------------------------------------*/

/* Estilos para celulares */
@media screen and (max-width: 480px) {
  /* Estilos para telas com largura máxima de 480px */
  /* Por exemplo, dispositivos móveis */

  header {
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  main {
    padding: 50px 0;
  }

  #quem-somos {
    flex-direction: column;
  }

  #quem-somos img {
    margin-top: 20px;
  }

  #produtos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #produtos li {
    flex-basis: 100%;
  }

  #produtos img {
    width: 100%;
  }
}
